<nav class="container mb-4 mt-4">
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <select class="custom-select" (change)="changeLang($event.target.value)">
                <option value="es" [selected]="lang == 'es'">Spanish</option>
                <option value="en" [selected]="lang == 'en'">English</option>
            </select>
        </div>
    </div>
</nav>

