/* Se manejan parciales para dividir el archivo principal app.component.sass en diversas partes y
    no se vea achocado todo junto, para ello se referencia con un guión bajo "_data"*/
    
/* Se utiliza @each para realizar el recorrido al igual que el @for de algunos datos, en este caso se 
    limita a solo los definidos, es decir, "movil, tablet, web, hd"*/
@each $mq in movil, tablet, web, hd
    @for $i from 1 through 20
        .#{$mq}-#{$i*5}
            width: $i*5%