/* En el caso que exista un error, definido junto a una sentencia @if */
@mixin reflexive-position($property, $value)
  @if $property != left and $property != right 
    @error "Property #{$property} must be either left or right."

  $left-value: if($property == right, initial, $value)
  $right-value: if($property == right, $value, initial)

  left: $left-value
  right: $right-value
  [dir=rtl] &
    left: $right-value
    right: $left-value

    
/* Una vez se use @if el error queda invalido, en la versión de angular que se utiliza la versión 8*/
.sidebarA
  @include reflexive-position(left, 12px)
  //       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  // Error: Property top must be either left or right.
