
/* Existen funciones especiales que no necesitan ser creadas, solo llamadas, definido como url(), calc(),
    clamp(), element(), progid() y expression() por ejemplificar*/
.logo 
  $width: 800px
  width: $width
  position: absolute
  left: calc(50% - #{$width / 2})
  top: 0

/* Se hace uso de las funciones max() y min()*/
$padding: 12px

.post 
  padding-left: max(#{$padding}, env(safe-area-inset-left))
  padding-right: max(#{$padding}, env(safe-area-inset-right))
