@mixin inline-animation($duration) 
  $name: inline-#{unique-id()}

  @keyframes #{$name} 
    @content
  

  animation-name: $name
  animation-duration: $duration
  animation-iteration-count: infinite


.pulse 
  @include inline-animation(1s) 
    from 
        background-color: yellow 
    to 
        background-color: red 