<!--<div>{{ 'HELLO' | translate }}</div>

<div>{{ 'GREETING' | translate:{name:'francisco'} }}</div>
<div [innerHTML]="'GREETING2' | translate:{name:'francisco'} " ></div>

<select #langSelect (change)="changeLang(langSelect.value)">
  <option *ngFor="let lang of langs" [value]="lang">
    {{lang}}
  </option>
</select>

<div>{{'Welcome to' | translate}}</div>
<div>{{'change' | translate}}</div>


<button (click)="showAlert()">Click</button>
<router-outlet></router-outlet>
-->
<app-nav></app-nav>
<app-posts></app-posts>



<!--<p>

  Hola mundo
  <span> Taquito</span>
</p>


<div class="container">
  <p class="autor">
    HOLA
    <span class="autor--item">
      Prueba &
    </span>
  </p>
  <p class="darken">
    MUNDO
  </p>

  <div class="dato">
    Prueba mixin
  </div>

  <div class="web-5">
    Prueba @for
  </div>

  <div class="movil-10">
    Prueba con @each
  </div>
  <div class="success">
    Prueba herencia
  </div>
  <br>
  <button class="button">Prueba if</button>
  <br>
  <br>
  <button class="button">test</button>

  <br>
  <div class="sidebar">
    Prueba @function
  </div>

  <div class="logo">
    Prueba LOGO
  </div>
  <div class="post">
    Prueba min() y max()
  </div>
  <div class="alert">
    <div class="warning">
      Animaniento enlistado
    </div>
  </div>
  <ul>
    <li>
      Prueba Operadores con etiquetas
    </li>
  </ul>
  <code>
    Prueba variables con modulos
  </code>
  <br>
  <input class="button2" value="Prueba @if" />
  <br>
  <div class="alert2">
    Prueba @use map
  </div>
  <button class="pulse">
    Prueba SassScript
  </button>
  <br>
  <br>
  <div class="forward-test">
    Prueba forward
  </div>
  <div class="forward-test-adj">
    Prueba forward prefijo
  </div>
  <br>
  <div class="error--serious">
    Prueba @extends con clases
  </div>

  <div class="sidebarA">
    Prueba @error
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="tilt">
    Prueba @warn
  </div>
  <h4>
    Prueba @debug
  </h4>
  <div class="wrapper">
    <div class="field">
      Prueba @at-root
    </div>
  </div>
  <sup>
    Prueba @while
  </sup>

  <br>
  <br>
  <h4> Aquí empieza el uso de BEM</h4>
-->
  <!-- Hacemos uso de un bloque con un modificador, el bloque se determina por la clase boton
        y el modificador por boton--orange, además de incluir un elemento llamado boton__titulo
 
  <button class="boton boton--orange">
    <span class="boton__titulo">Prueba de botón anaranjado</span>
  </button>
  <br>
  <button class="boton boton--blue">
    <span class="boton__titulo">Prueba de botón anaranjado</span>
  </button> -->
<!-- 
</div>
-->


