/* Al consumir otro archivo se llama modulo, recordemos el archivo debe llevar, guión bajo
    para determinar que pertenece a uno más general, en este caso se llama el archivo _data.sass
    no se interpreta el guión bajo*/
@use 'data'

/* El llamado de un modulo con @use tiene un orden no puede llamarse después de un @imports, hacemos
    uso del modulo, pasando variables*/
@use 'library' with ( $black: red, $border-radius: 0.1rem )

/* Uso de funciones definidas por defecto en SASS*/ 
@use "sass:map"

@use 'pulse'
@use 'error'
@use 'debug'
@use 'warn'
@use "sass:selector"

/* LLamamos a style, sin embargo, este llama a su vez a _list.sass*/
@use 'style'

@use 'style2'

/* Es posible el uso de @import para llamar otros archivos desde otros lados, al igual que @use, sin
   embargo, esta funcionalidad se quedará obsoleta */
@import _variables

@import _funcionesespeciales
    

// No se hace uso de {} y ni ;
body 
  font: 100% $font-stack
  color: $primary-color

/* La anidación consiste en la unión de más de una class o etiqueta en donde existe un padre y sus
    respectivos hijos, directamente en css se interpreta como p: span */
p
    background: $pink-color
    /* Una ventaja de SASS es que las variables se pueden modificar, en este caso decimos que de
        la variable $margin(1em) ahora tiene el valor de 2em debido a la modificación que se tuvo,
        funciona para las operaciones básicas*/
    // NOTA: Para valores fijos se tiene que poner entre ()
    margin: $margin * 2

    span
        background: $blue-color

a
    color: $primary-color

div
    margin-bottom: $margin

ul
    margin-left: $margin

    
/* Se referencia a una anidación en una clase, con ayuda de el "&" hacemos llamado del padre de dicha
    anidación */
.autor 
    display: table
    color: gray
    &--item
        display: table-cell
        color: white


/* Se hace referencia a @media que recordemos es el responsable de acciones como determinar medida
    del tamaño de una pantalla, en este caso lo realizamos anidando a un div */
div
    width: 100% 

    @media screen and (min-width: 1025px)
        width: 75%
        margin: 0 auto

/* Se pueden hacer uso de diferentes funciones definidas por defecto en SASS, estan son:
    darken(Color, Porcentaje este es como %(30%) o con punto(.5 la mitad))
    lighten(Color, Porcentaje)
    saturate(Color, Porcentaje)
    desaturate(Color, Porcentaje)
    rgba(Color, Porcentaje)
    invert(Color)       
    complement(Color)
    */
.darken
    background: darken($pink-color, 10%)


/* El uso de mixin permite crear un objeto que se llama por otra clase,no hay que olvidar que si no se 
    llama a la función este no se realiza, además se pueden pasar, variable temporales para su uso */
@mixin borde($border-width, $border-color, $border-radius )
    border: $border-width solid $border-color
    border-radius: $border-radius

/* Se utiliza el mixin creado previamente, la ventaja es que podemos hacer uso del mixin para diferentes
    clases y etiquetas definidos*/
.dato 
    @include borde(2px, red, 10px)
    
/* Se puede utilizar sentencias como for, en este caso decimos que cuente de 1 al 20, si solo se desea del 
    1 al 19, se utiliza "for i from 1 to 20"*/
@for $i from 1 through 20
    /* Se interpola los número para señalar en valor que se usará, manejando "${variable}"*/
    .web-#{$i*5}
        width: $i*5%

     
/* Se puede declarar una variable como un tipo objeto o arreglo que se puede utilizar en alguna
    sentencia, de esta forma hacer una página response*/
$sizes: ( movil: 480px, tablet: 768px, web: 1025px, hd: 1400px)

/* El primer valor hace referencia al valor de movil, tablet, web o hd interpretado como $size,
    el segundo valor determinado como $screen-size hace referencia al tamaño definido 480px, 768px, etc...*/
@each $size,$screen-size in $sizes
    @media all and(min-width:#{$screen-size})
      @for $i from 1 through 20
        .#{$size}-#{$i*5}
            width: $i*5%

/* Realizamos herencia haciendo uso de % para referenciar a un padre que utilizaremos o el 
    padre que hará la herencia a los hijos */
%message-shared 
    border: 1px solid #ccc
    padding: 10px
    color: #333

.message 
    // Para hacer uso del padre manejamos @extend que llama al padre que se hereda, este puede
    // heredarse en distintas clases o etiquetas
    @extend %message-shared


.success    
    @extend %message-shared
    border-color: green


.error 
    @extend %message-shared
    border-color: red


$rounded-corners: false

/* Se habilita la función si y solo si se oprime el botón o se pone selecciona*/
.button
  border: 1px solid black
  border-radius: if($rounded-corners, 15px, null)


/* Por su parte las funciones o métodos se caracterizan por retornar un valor que se usara en una clase o
    etiqueta, a diferencia de @mixin que este genera un objeto*/
@function pow($base, $exponent) 
    $result: 1
    @for $_ from 1 through $exponent 
        $result: $result * $base

    @return $result

/* Llamamos a la función para utilizarla */
.sidebar 
  float: left
  margin-left: pow(5, 4) * 1px

/* Se realiza el anidamiento enlistado, su función es la misma que el anidamiento, sin embargo, esta 
    enlistado */
.alert, .warning 
  ul, p 
    margin-right: 0
    margin-left: 6em
    padding-bottom: 0
  
/* Es posible el uso de operadores con etiquetas o clases*/
ul > 
  li 
    list-style-type: none
    background: red
    

/* Existen las propiedades personalizadas, accediendo al root*/  
$primary: #81899b
$accent: #302e24
$warn: #dfa612

:root 
  --primary: #{$primary}
  --accent: #{$accent}
  --warn: #{$warn}

  --consumed-by-js: $primary


/* Hacemos uso de @if para el manejo de variables*/
$dark-theme: true !default
$primary-color: #f8bbd0 !default
$accent-color: #6a1b9a !default

@if $dark-theme 
  $primary-color: darken($primary-color, 60%)
  $accent-color: lighten($accent-color, 60%)


.button2 
  background-color: $primary-color
  border: 1px solid $accent-color
  border-radius: 3px
  color: white


$theme-colors: ( "success": #28a745, "info": #17a2b8, "warning": #ffc107 )

.alert2 
  background-color: map.get($theme-colors, "warning")

/* Hacemos uso del mixin que se encuentra en _list.sass mediante _style.sass*/
.forward-test
  @include style.list-reset

/* Es posible realizar las mismas acciones que el @forward con _style.sass añadiendo un prefijo*/
.forward-test-adj
  @include style2.list-reset

/* Hacemos uso de @extend para obtener una clase, este sirve para ello y además para herencia*/
.error:hover 
  background-color: #fee

.error--serious 
  @extend .error
  border-width: 3px

/* Hacemos uso de @at-root que por su parte permite el acceso de todo el documento directamente en el
    repositorio raíz*/
@mixin unify-parent($child) 
  @at-root #{selector.unify(&, $child)} 
    @content
  
.wrapper .field 
  @include unify-parent("input") 
  @include unify-parent("select")
 

/* Demostración de la sentencia @while */
@function scale-below($value, $base, $ratio: 1.618) 
  @while $value > $base 
    $value: $value / $ratio

  @return $value

$normal-font-size: 16px

sup 
  font-size: scale-below(20px, 16px)


//---------------------------------------------------------------------------------------------------------//
// Uso de BEM junto a SASS, recordando que es Bloques, Elementos y Modificadores
// Hacemos uso de una clase block
.boton
  background: green
  margin-top: 2em

/* Los elementos se caracterizan por llevar 2 guiones bajos, esto nos evita numerosas concatenaciones que
  tenia por defecto css, es decir, .boton .boton__titulo, solo llamamos al elemento deseado */
.boton__titulo
  text-align: center
  position: relative
  color: white

/* Al contrario de los elementos se hace uso de modificadores, estos se identifican con 2 guiones medios
  de esta forma, es decir, podemos modificar algún block que desearamos*/
.boton--orange
  background: #F8572C

.boton--blue
  background: blue

  
